@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0; }

main .start-section {
  font-family: ProximaNova;
  color: #ffffff;
  width: 100%;
  background: url(../images/Polygon-BG.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  main .start-section-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1280px;
    margin: 0 auto; }
  main .start-section .navbar.navbar-expand-lg {
    margin: 0 -15px;
    padding: 32px 0 0 0; }
  main .start-section #navbarSupportedContent {
    justify-content: flex-end; }
  main .start-section .navbar .navbar-collapse {
    text-align: center; }
  main .start-section .navbar .navbar-nav .nav-link,
  main .start-section .navbar .navbar-nav .active > .nav-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    padding: 4px 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0); }
  main .start-section .navbar .navbar-nav .active > .nav-link,
  main .start-section .navbar .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #ff8b00;
    color: #ffffff; }
  main .start-section button.navbar-toggler:focus {
    outline: none; }
  main .start-section .slider {
    height: 250px;
    position: relative; }
    main .start-section .slider .slide {
      display: flex;
      height: 100%;
      position: relative;
      flex-wrap: nowrap; }
      main .start-section .slider .slide .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        main .start-section .slider .slide .text h1 {
          color: #ffffff;
          font-size: 55px;
          font-weight: 700;
          line-height: 18px; }
        main .start-section .slider .slide .text span {
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          line-height: 30px; }
      main .start-section .slider .slide .image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
    main .start-section .slider .dots {
      position: absolute;
      right: -100px;
      top: 0;
      bottom: 0; }
      main .start-section .slider .dots .dots-list {
        list-style: none;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main .start-section .slider .dots .dots-list .dot {
          width: 17px;
          height: 18px;
          margin: 10px 0;
          background: url("../images/slider-dot.png") no-repeat;
          cursor: pointer; }
        main .start-section .slider .dots .dots-list .dot-active {
          width: 19px;
          height: 22px;
          background: url("../images/slider-dot-active.png") no-repeat; }
  main .start-section .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; }
    main .start-section .more span {
      font-size: 26px;
      font-weight: 700;
      line-height: 16px;
      margin-bottom: 20px; }
    main .start-section .more .go-more {
      width: 61px;
      height: 71px;
      background: url("../images/arrow-more.png");
      cursor: pointer;
      transition: .5s; }
      main .start-section .more .go-more:hover {
        background: url("../images/arrow-more-hov.png"); }
main .scores-section {
  font-family: ProximaNova;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7050e5;
  font-weight: 700;
  padding: 130px 0; }
  main .scores-section .score {
    text-align: center;
    flex-shrink: 2; }
    main .scores-section .score:nth-child(2) {
      flex-shrink: 3; }
    main .scores-section .score h1 {
      font-size: 60px;
      font-weight: bold; }
    main .scores-section .score span {
      font-size: 20px;
      text-align: center;
      text-transform: uppercase; }
main .what-we-do-section {
  background-color: #f8f8f8; }
  main .what-we-do-section .what-we-do__content {
    font-family: ProximaNova;
    color: #7050e5;
    display: flex;
    flex-direction: column;
    padding: 160px 0; }
    main .what-we-do-section .what-we-do__content .title {
      display: inline-block;
      font-size: 60px;
      font-weight: 700;
      text-align: right;
      padding: 30px 50px 0 0;
      background: url(../images/what-we-do.png) no-repeat;
      background-position-x: right;
      background-size: 4.5%; }
    main .what-we-do-section .what-we-do__content .row {
      margin: 50px 0 0 0;
      padding: 0 30px; }
    main .what-we-do-section .what-we-do__content article {
      align-items: center;
      display: flex;
      flex-direction: column; }
      main .what-we-do-section .what-we-do__content article .cover {
        flex-basis: 180px; }
      main .what-we-do-section .what-we-do__content article .text h2 {
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase; }
      main .what-we-do-section .what-we-do__content article .text span {
        color: #878787;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px; }
      main .what-we-do-section .what-we-do__content article:nth-of-type(1n+4) {
        margin-top: 50px; }
    main .what-we-do-section .what-we-do__content article:nth-of-type(1) .cover {
      width: 142px;
      height: 146px;
      background: url("../images/device.png") no-repeat; }
    main .what-we-do-section .what-we-do__content article:nth-of-type(2) .cover {
      width: 160px;
      height: 150px;
      background: url("../images/user.png") no-repeat; }
    main .what-we-do-section .what-we-do__content article:nth-of-type(3) .cover {
      width: 150px;
      height: 150px;
      background: url("../images/transaction.png") no-repeat; }
    main .what-we-do-section .what-we-do__content article:nth-of-type(4) .cover {
      width: 132px;
      height: 139px;
      background: url("../images/contemporary.png") no-repeat; }
    main .what-we-do-section .what-we-do__content article:nth-of-type(5) .cover {
      width: 191px;
      height: 127px;
      background: url("../images/hsm.png") no-repeat; }
    main .what-we-do-section .what-we-do__content article:nth-of-type(6) .cover {
      width: 210px;
      height: 108px;
      background: url("../images/cloud.png") no-repeat; }
main .product-spotlight-section .product-spotlight-content {
  display: flex;
  padding: 106px 160px; }
  main .product-spotlight-section .product-spotlight-content .text-container {
    display: flex; }
    main .product-spotlight-section .product-spotlight-content .text-container .text {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center; }
      main .product-spotlight-section .product-spotlight-content .text-container .text h2 {
        color: #7050e5;
        font-size: 40px;
        font-weight: 700;
        margin: 0; }
      main .product-spotlight-section .product-spotlight-content .text-container .text span {
        color: #878787;
        font-size: 15px;
        font-weight: 400;
        margin: 30px 0px; }
  main .product-spotlight-section .product-spotlight-content .video img {
    width: 100%; }
main .ready-started-section {
  width: 100%;
  height: 218px;
  background: url("../images/ready-started.png") no-repeat;
  background-size: 100% 100%; }
  main .ready-started-section .ready-started {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit; }
    main .ready-started-section .ready-started h2 {
      font-family: ProximaNova;
      color: #ffffff;
      font-size: 40px;
      font-weight: 700; }
main .main-footer {
  background-color: #363636;
  position: relative; }
  main .main-footer-row {
    flex-grow: 1;
    margin-left: 80px; }
  main .main-footer .footer-container {
    justify-content: space-between;
    padding: 60px 0 50px; }
    main .main-footer .footer-container .twitter-feed-content {
      min-width: 300px;
      width: 300px;
      font-family: 'Myriad Pro'; }
      main .main-footer .footer-container .twitter-feed-content-header {
        display: flex; }
        main .main-footer .footer-container .twitter-feed-content-header-logo {
          width: 60px;
          height: 60px;
          background: url("../images/footer-twitter-icon.png") no-repeat center, #5634d1; }
        main .main-footer .footer-container .twitter-feed-content-header-title {
          background: #7050e5;
          color: #f7f7f7;
          font-weight: 400;
          flex-grow: 1;
          padding-left: 14px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          main .main-footer .footer-container .twitter-feed-content-header-title .group-name {
            font-size: 24px;
            line-height: 30px; }
          main .main-footer .footer-container .twitter-feed-content-header-title .feed-name {
            font-size: 14px;
            line-height: 14px; }
      main .main-footer .footer-container .twitter-feed-content-body {
        background: #ffffff;
        padding: 14px 0 2px 28px; }
        main .main-footer .footer-container .twitter-feed-content-body-post span {
          color: #999999;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px; }
        main .main-footer .footer-container .twitter-feed-content-body-post a {
          font-family: 'Myriad Pro';
          color: #7050e5;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px; }
        main .main-footer .footer-container .twitter-feed-content-body-post figcaption {
          color: #555555;
          font-size: 12px;
          font-weight: bold;
          line-height: 20px; }
    main .main-footer .footer-container .footer-list {
      font-family: ProximaNova;
      font-size: 14px; }
      main .main-footer .footer-container .footer-list-title {
        color: #ff8b00;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 18px;
        background: url(../images/footer-icon.png) no-repeat left 40%; }
      main .main-footer .footer-container .footer-list-list {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        list-style: none;
        padding: 0;
        margin: 16px 0 0 0;
        text-transform: uppercase; }
        main .main-footer .footer-container .footer-list-list li {
          padding: 2px 0px; }
        main .main-footer .footer-container .footer-list-list a {
          color: #ffffff;
          font-size: 14px;
          font-weight: 400; }
          main .main-footer .footer-container .footer-list-list a:hover {
            text-decoration: none;
            color: #ff8b00; }
        main .main-footer .footer-container .footer-list-list address {
          text-transform: none;
          display: inline;
          margin-left: 20px; }
  main .main-footer .footer-logo {
    width: 75px;
    height: 86px;
    background: url(../images/footer-logo.png) no-repeat;
    position: absolute;
    right: 2%;
    bottom: 8%; }

footer {
  background-color: #252525;
  text-align: center; }
  footer .footer-text {
    font-family: Raleway;
    color: #9b9b9b;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 10px; }
    footer .footer-text img {
      padding-bottom: 2px; }

.button-style {
  color: #ffffff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #ff8b00;
  border-style: solid;
  background-color: #ff8b00;
  width: 172px;
  height: 52px;
  cursor: pointer;
  transition: .5s; }
  .button-style:hover {
    background-color: #FFB24A; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.no-height {
  min-height: 100vh; }

.height-device {
  height: 100vh; }

@media screen and (max-width: 1360px) {
  main .start-section-container {
    min-width: auto; }

  main .start-section .slider {
    height: 200px; }

  main .start-section .slider .slide .text h1 {
    font-size: 40px;
    line-height: 18px; }

  main .start-section .slider .slide .text span {
    font-size: 14px;
    line-height: 20px; }

  main .start-section .slider .dots {
    right: -40px; } }
@media screen and (max-width: 1200px) {
  main .product-spotlight-section .product-spotlight-content {
    display: flex;
    padding: 106px 80px; }

  main .what-we-do-section .what-we-do__content .title {
    padding: 20px 30px 0 0;
    font-size: 50px; }

  main .main-footer-row {
    flex-grow: 1;
    margin-left: 40px; } }
@media screen and (max-width: 990px) {
  main .start-section .slider .slide .text h1 {
    font-size: 30px; }

  main .scores-section .score:nth-child(1n + 2) {
    margin-top: 60px; }

  main .what-we-do-section .what-we-do__content {
    padding: 80px 0; }

  main .what-we-do-section .what-we-do__content article {
    margin-top: 0; }
    main .what-we-do-section .what-we-do__content article:nth-child(2n + 3) {
      margin-top: 50px; }

  main .product-spotlight-section .product-spotlight-content {
    display: flex;
    padding: 60px 80px; }

  .button-style-sm-center {
    align-self: center; }

  main .product-spotlight-section .product-spotlight-content .text-container .text {
    margin-bottom: 30px; }

  main .main-footer .footer-container .twitter-feed-content {
    width: 100%; }

  main .main-footer-row {
    flex-grow: 1;
    margin-top: 60px;
    margin-left: 0; } }
@media screen and (max-width: 768px) {
  main .start-section .slider .slide .text h1 {
    font-size: 26px; }

  main .start-section .slider .slide .text span {
    font-size: 12px; }

  main .start-section .slider .slide .image {
    display: none; }

  main .what-we-do-section .what-we-do__content .title {
    font-size: 40px;
    padding: 10px 20px 0 0; }

  main .what-we-do-section .what-we-do__content article {
    margin-top: 0; }
    main .what-we-do-section .what-we-do__content article:nth-child(1n + 2) {
      margin-top: 50px; } }
@media screen and (max-width: 576px) {
  main .start-section .navbar.navbar-expand-lg {
    margin: 0;
    padding: 16px 16px; }

  main .start-section .slider .slide {
    padding-right: 40px; }

  main .start-section .slider .slide .text h1 {
    font-size: 24px; }

  main .start-section .slider .slide .text span {
    font-size: 12px;
    padding-right: 10px; }

  main .start-section .slider .dots {
    right: 0; }

  main .scores-section .score h1 {
    font-size: 48px; }

  main .scores-section .score span {
    font-size: 18px; }

  main .what-we-do-section .what-we-do__content .title {
    margin-right: 40px; }

  main .main-footer .footer-container .footer-list {
    font-family: ProximaNova;
    font-size: 14px;
    text-align: center; }
    main .main-footer .footer-container .footer-list:nth-child(1n + 2) {
      margin-top: 40px; }

  .button-style {
    align-self: center; } }

/*# sourceMappingURL=style.css.map */
